.container .row .col-md-8{
	padding-bottom: 5px;
}

.container .row .col-md-4 .hover figure img{
	padding-bottom: 5px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.container .row .col-md-4 figure:hover img{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}